{#
 #  This file is part of Mathstreams.
 #
 #  Copyright (c) 2015  Sohani Academy <developer@sohaniacademy.com>
 #
 #  Mathstreams is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU Affero General Public License as
 #  published by the Free Software Foundation, either version 3 of the
 #  License, or (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU Affero General Public License for more details.
 #
 #  You should have received a copy of the GNU Affero General Public License
 #  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'MagnetsMathgymBundle::base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-sm-2">
            <span id="index-area" style="position:absolute;top:100px;">
                {#<ol class="nav">#}
                {#<li><a href="#wims">What is Mathstreams?</a></li>#}
                {#<li><a href="#wums">Why use Mathstreams?</a>#}
                {#<ol>#}
                {#<li><a href="#wums1">Why use Mathstreams1?</a></li>#}
                {#<li><a href="#wums2">Why use Mathstreams2?</a></li>#}
                {#</ol>#}
                {#</li>#}
                {#<li><a href="#filt0">Filters</a>#}
                {#<ol>#}
                {#<li><a href="#filt1">Filt1</a></li>#}
                {#<li><a href="#filt2">Filt2</a></li>#}
                {#</ol>#}
                {#</li>#}
                {#</ol>#}
            </span>
        </div>
        <div class="col-sm-8">
            <div class="container-fluid content-area" style="overflow-y: scroll;height:80vh;">
                <div id="wims">
                    <h2>What is Mathstreams?</h2>

                    <p>Mathstreams is a platform that offers a well-categorized collection of maths problems, with fresh
                        additions each week. They cover a wide range of difficulty levels: from the most elementary
                        applications of school-level topics, up to problems that may have appeared in previous
                        International Mathematics Olympiads.
                    </p>

                    <p>
                        All the problems have a few things in common: They require you do some <b>creative,
                            out-of-the-box thinking</b>, and submit solutions with <b>accurate logical reasoning!</b>
                    </p>
                </div>
                <div id="wums">
                    <h2>Why use Mathstreams?</h2>

                    <p>The problems in Mathstreams are of the kind that you are not likely to encounter in the current
                        school
                        syllabus. Instead of mechanically training the students to answer certain question patterns; our
                        primary
                        goal is to help the students <b>evolve their mental faculties</b> beyond that. We do this by
                        providing the
                        tools to build their muscle for unparalleled creativity, while still remaining well-grounded in
                        their <u>logical
                            clarity and basic understanding</u> of various concepts.</p><br/>

                    <p>
                        To get the most benefit from our questions, it is important to <u>spend enough time</u> on each
                        of them. One
                        could make the mistake of reading through all the problems and solutions like a story book; and
                        get zero
                        benefit in the process. It is essential to avoid this trap! Rather, the student should make use
                        of this
                        unique opportunity to become a mature, self-disciplined explorer of knowledge; and <u>to regain
                            control of
                            their own learning curve.</u></p><br/>

                    <p>
                        In this way, the students (or indeed, anybody) can make their way towards becoming practically
                        invincible,
                        in terms of facing complex ideas, difficult tasks, and/or adapting to new environments. It's an
                        endless
                        uphill journey: the harder you work, the farther you will progress.<br/>
                        But most of all, the student may be pleasantly surprised to discover that learning this way is
                        <b>a lot of
                            fun!</b>
                    </p>

                    <div id="wums1">

                        <p>The problems in Mathstreams are of the kind that you are not likely to encounter in the
                            current
                            school
                            syllabus. Instead of mechanically training the students to answer certain question patterns;
                            our
                            primary
                            goal is to help the students <b>evolve their mental faculties</b> beyond that. We do this by
                            providing the
                            tools to build their muscle for unparalleled creativity, while still remaining well-grounded
                            in
                            their <u>logical
                                clarity and basic understanding</u> of various concepts.</p><br/>

                        <p>
                            To get the most benefit from our questions, it is important to <u>spend enough time</u> on
                            each
                            of them. One
                            could make the mistake of reading through all the problems and solutions like a story book;
                            and
                            get zero
                            benefit in the process. It is essential to avoid this trap! Rather, the student should make
                            use
                            of this
                            unique opportunity to become a mature, self-disciplined explorer of knowledge; and <u>to
                                regain
                                control of
                                their own learning curve.</u></p><br/>

                        <p>
                            In this way, the students (or indeed, anybody) can make their way towards becoming
                            practically
                            invincible,
                            in terms of facing complex ideas, difficult tasks, and/or adapting to new environments. It's
                            an
                            endless
                            uphill journey: the harder you work, the farther you will progress.<br/>
                            But most of all, the student may be pleasantly surprised to discover that learning this way
                            is
                            <b>a lot of
                                fun!</b>
                        </p>
                    </div>
                    <div id="wums2">
                        <p>The problems in Mathstreams are of the kind that you are not likely to encounter in the
                            current
                            school
                            syllabus. Instead of mechanically training the students to answer certain question patterns;
                            our
                            primary
                            goal is to help the students <b>evolve their mental faculties</b> beyond that. We do this by
                            providing the
                            tools to build their muscle for unparalleled creativity, while still remaining well-grounded
                            in
                            their <u>logical
                                clarity and basic understanding</u> of various concepts.</p><br/>

                        <p>
                            To get the most benefit from our questions, it is important to <u>spend enough time</u> on
                            each
                            of them. One
                            could make the mistake of reading through all the problems and solutions like a story book;
                            and
                            get zero
                            benefit in the process. It is essential to avoid this trap! Rather, the student should make
                            use
                            of this
                            unique opportunity to become a mature, self-disciplined explorer of knowledge; and <u>to
                                regain
                                control of
                                their own learning curve.</u></p><br/>

                        <p>
                            In this way, the students (or indeed, anybody) can make their way towards becoming
                            practically
                            invincible,
                            in terms of facing complex ideas, difficult tasks, and/or adapting to new environments. It's
                            an
                            endless
                            uphill journey: the harder you work, the farther you will progress.<br/>
                            But most of all, the student may be pleasantly surprised to discover that learning this way
                            is
                            <b>a lot of
                                fun!</b>
                        </p>
                    </div>
                </div>
                <div id="filt0">
                    <p>The problems in Mathstreams are of the kind that you are not likely to encounter in the current
                        school
                        syllabus. Instead of mechanically training the students to answer certain question patterns; our
                        primary
                        goal is to help the students <b>evolve their mental faculties</b> beyond that. We do this by
                        providing the
                        tools to build their muscle for unparalleled creativity, while still remaining well-grounded in
                        their <u>logical
                            clarity and basic understanding</u> of various concepts.</p><br/>

                    <p>
                        To get the most benefit from our questions, it is important to <u>spend enough time</u> on each
                        of them. One
                        could make the mistake of reading through all the problems and solutions like a story book; and
                        get zero
                        benefit in the process. It is essential to avoid this trap! Rather, the student should make use
                        of this
                        unique opportunity to become a mature, self-disciplined explorer of knowledge; and <u>to regain
                            control of
                            their own learning curve.</u></p><br/>

                    <p>
                        In this way, the students (or indeed, anybody) can make their way towards becoming practically
                        invincible,
                        in terms of facing complex ideas, difficult tasks, and/or adapting to new environments. It's an
                        endless
                        uphill journey: the harder you work, the farther you will progress.<br/>
                        But most of all, the student may be pleasantly surprised to discover that learning this way is
                        <b>a lot of
                            fun!</b>
                    </p>

                    <div id="filt1">
                        <p>The problems in Mathstreams are of the kind that you are not likely to encounter in the
                            current
                            school
                            syllabus. Instead of mechanically training the students to answer certain question patterns;
                            our
                            primary
                            goal is to help the students <b>evolve their mental faculties</b> beyond that. We do this by
                            providing the
                            tools to build their muscle for unparalleled creativity, while still remaining well-grounded
                            in
                            their <u>logical
                                clarity and basic understanding</u> of various concepts.</p><br/>

                        <p>
                            To get the most benefit from our questions, it is important to <u>spend enough time</u> on
                            each
                            of them. One
                            could make the mistake of reading through all the problems and solutions like a story book;
                            and
                            get zero
                            benefit in the process. It is essential to avoid this trap! Rather, the student should make
                            use
                            of this
                            unique opportunity to become a mature, self-disciplined explorer of knowledge; and <u>to
                                regain
                                control of
                                their own learning curve.</u></p><br/>

                        <p>
                            In this way, the students (or indeed, anybody) can make their way towards becoming
                            practically
                            invincible,
                            in terms of facing complex ideas, difficult tasks, and/or adapting to new environments. It's
                            an
                            endless
                            uphill journey: the harder you work, the farther you will progress.<br/>
                            But most of all, the student may be pleasantly surprised to discover that learning this way
                            is
                            <b>a lot of
                                fun!</b>
                        </p>
                    </div>
                    <div id="filt2">
                        <p>The problems in Mathstreams are of the kind that you are not likely to encounter in the
                            current
                            school
                            syllabus. Instead of mechanically training the students to answer certain question patterns;
                            our
                            primary
                            goal is to help the students <b>evolve their mental faculties</b> beyond that. We do this by
                            providing the
                            tools to build their muscle for unparalleled creativity, while still remaining well-grounded
                            in
                            their <u>logical
                                clarity and basic understanding</u> of various concepts.</p><br/>

                        <p>
                            To get the most benefit from our questions, it is important to <u>spend enough time</u> on
                            each
                            of them. One
                            could make the mistake of reading through all the problems and solutions like a story book;
                            and
                            get zero
                            benefit in the process. It is essential to avoid this trap! Rather, the student should make
                            use
                            of this
                            unique opportunity to become a mature, self-disciplined explorer of knowledge; and <u>to
                                regain
                                control of
                                their own learning curve.</u></p><br/>

                        <p>
                            In this way, the students (or indeed, anybody) can make their way towards becoming
                            practically
                            invincible,
                            in terms of facing complex ideas, difficult tasks, and/or adapting to new environments. It's
                            an
                            endless
                            uphill journey: the harder you work, the farther you will progress.<br/>
                            But most of all, the student may be pleasantly surprised to discover that learning this way
                            is
                            <b>a lot of
                                fun!</b>
                        </p>
                    </div>
                </div>
                <div class="full-width" style="height:50vh"></div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            //build the index automatically..
            //The basic principle ? Nesting ..

            $('.content-area').scrollspy();//{target: '#navbar-example'})
        });
    </script>
    <style>
        #index-area ul, #index-area ol {
            list-style: none outside;
        }

        #index-area li a {
            padding: 3px 10px;
        }

        #index-area li ol {
            padding-left: 1px;
        }

        #index-area li ol li {
            padding-left: 19px;
        }

        #index-area li:not(.active) li {
            display: none;
        }

        #index-area li.active > a {
            border-left: 3px solid #2E88FF;
        }

        #index-area li.active li.active a {
            border: none;
        }

        #index-area li.active li.active {
            border-left: 1px solid #2E88FF;
        }

        #index-area li.active > a {
            font-weight: bold;
        }
    </style>
{% endblock %}
{#{% block body %}#}
    {#<div>#}
        {#<!-- Nav tabs -->#}
        {#<ul class="nav nav-tabs" role="tablist">#}
            {#<li role="presentation" class="active"><a href="#tabs-1" role="tab" data-toggle="tab">What is Mathstreams?</a></li>#}
            {#<li role="presentation"><a href="#tabs-2" aria-controls="profile" role="tab" data-toggle="tab">Why use Mathstreams?</a></li>#}
            {#<li role="presentation"><a href="#tabs-3" aria-controls="messages" role="tab" data-toggle="tab">How to get started?</a></li>#}
            {#<li role="presentation"><a href="#tabs-4" aria-controls="settings" role="tab" data-toggle="tab">How to solve each problem?</a></li>#}
        {#</ul>#}

        {#<!-- Tab panes -->#}
        {#<div class="tab-content">#}
            {#<div role="tabpanel" class="tab-pane fade in active" id="tabs-1">#}
                {#<p>Mathstreams is a platform that offers a well-categorized collection of maths problems, with fresh additions#}
                    {#each week. They cover a wide range of difficulty levels: from the most elementary applications of#}
                    {#school-level topics, up to problems that may have appeared in previous International Mathematics#}
                    {#Olympiads.</p><br/>#}

                {#<p>#}
                    {#All the problems have a few things in common: They require you do some <b>creative, out-of-the-box#}
                        {#thinking</b>, and submit solutions with <b>accurate logical reasoning!</b></p><br/>#}
            {#</div>#}
            {#<div role="tabpanel" class="tab-pane fade" id="tabs-2">#}
                {#<p>The problems in Mathstreams are of the kind that you are not likely to encounter in the current school#}
                    {#syllabus. Instead of mechanically training the students to answer certain question patterns; our primary#}
                    {#goal is to help the students <b>evolve their mental faculties</b> beyond that. We do this by providing the#}
                    {#tools to build their muscle for unparalleled creativity, while still remaining well-grounded in their <u>logical#}
                        {#clarity and basic understanding</u> of various concepts.</p><br/>#}

                {#<p>#}
                    {#To get the most benefit from our questions, it is important to <u>spend enough time</u> on each of them. One#}
                    {#could make the mistake of reading through all the problems and solutions like a story book; and get zero#}
                    {#benefit in the process. It is essential to avoid this trap! Rather, the student should make use of this#}
                    {#unique opportunity to become a mature, self-disciplined explorer of knowledge; and <u>to regain control of#}
                        {#their own learning curve.</u></p><br/>#}

                {#<p>#}
                    {#In this way, the students (or indeed, anybody) can make their way towards becoming practically invincible,#}
                    {#in terms of facing complex ideas, difficult tasks, and/or adapting to new environments. It's an endless#}
                    {#uphill journey: the harder you work, the farther you will progress.<br/>#}
                    {#But most of all, the student may be pleasantly surprised to discover that learning this way is <b>a lot of#}
                        {#fun!</b>#}
                {#</p>#}
            {#</div>#}
            {#<div role="tabpanel" class="tab-pane fade" id="tabs-3">#}
                {#<p>#}
                    {#New users can register for free over <a href="{{ path('register') }}">here</a>. (If you have already#}
                    {#registered before, please <a href="{{ path('login') }}">sign in</a>.)</p>#}

                {#<p>#}
                    {#After signing in, on the <a href="{{ path('user') }}">main page</a> you will be able to subscribe to one or#}
                    {#more 'streams'. A stream is just a list of problems, with fresh ones being added to each stream on a weekly#}
                    {#basis. Once subscribed to any stream, you can browse through its list of problems. It is recommended that#}
                    {#they be solved in order; since they may be arranged according to a certain topic or difficulty level.#}
                {#</p>#}
            {#</div>#}
            {#<div role="tabpanel" class="tab-pane fade" id="tabs-4">#}
                {#<p>#}
                    {#After opening any problem, you will be presented with the question, as well as an area for typing your#}
                    {#solution. After trying the question for a certain while, you may request for one or more hints. Each hint#}
                    {#will progressively reveal more and more details of the solution, until finally the whole solution is#}
                    {#revealed.</p>#}
                {#Some things worth remembering:#}
                {#<ul>#}
                    {#<li>There is <b>no time limit!</b> You can try each problem for as long as you want. The important thing is#}
                        {#to try solving as much as possible on your own.#}
                    {#</li>#}
                    {#<li>You can submit a solution at any time; however, the more hints you ask for, the more negative marks you#}
                        {#will be awarded.#}
                    {#<li><u>Even an average solution submitted without any hints, can possibly score higher than a near-perfect#}
                            {#solution that was submitted after asking for a couple of hints.</u></li>#}
                {#</ul>#}
                {#<br/>#}

                {#<p> After (and ONLY after) submitting your solution, you will have access to the discussion thread for that#}
                    {#problem, as well as the solutions submitted by others. Typically, each problem may have several valid#}
                    {#approaches; so you should use this chance to <b>improve the breadth of your problem-solving techniques</b>#}
                    {#by browsing through others' solutions, and discussing them on the thread.</p>#}

                {#<p>#}
                    {#With enough regular practice, the student will find themselves no longer confined to textbook patterns.#}
                    {#Armed with a whole new dimension of thinking, there is no limit to where you can apply your new-found#}
                    {#abilities. Indeed, we expect and hope that you will soon be designing your own problems, and will also <a#}
                            {#href="mailto:prashant.sohani@gmail.com">send them to us</a>! We look forward to featuring them on#}
                    {#our website.<br/>#}
                    {#<br/>#}
                    {#Good luck!#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}