/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/symfony
/vendor/
/var/
/web/bundles/
.idea/
deploy.sh
error_log
*~
\#*\#