{#
 #  This file is part of Mathstreams.
 #
 #  Copyright (c) 2015  Sohani Academy <developer@sohaniacademy.com>
 #
 #  Mathstreams is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU Affero General Public License as
 #  published by the Free Software Foundation, either version 3 of the
 #  License, or (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU Affero General Public License for more details.
 #
 #  You should have received a copy of the GNU Affero General Public License
 #  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'MagnetsMathgymBundle::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">  
                <div class="panel-heading"><h2>Users</h2></div>
                <table class="table table-hover">
                    <thead>
                        <tr class="row"><th>Id</th><th>Name</th><th>Email</th><th>Actions</th></tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr class="row">
                                <td class="text-center">{{ user.id }}</td>
                                <td><a href="#">{{ user.fullname }}</a></td>
                                <td><a href="#">{{ user.email }}</a></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}