{#
 #  This file is part of Mathstreams.
 #
 #  Copyright (c) 2015  Sohani Academy <developer@sohaniacademy.com>
 #
 #  Mathstreams is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU Affero General Public License as
 #  published by the Free Software Foundation, either version 3 of the
 #  License, or (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU Affero General Public License for more details.
 #
 #  You should have received a copy of the GNU Affero General Public License
 #  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'MagnetsMathgymBundle::base.html.twig' %}

{% block body %}
    <h2>Rooms</h2>
    <table class="table table-hover">
        <tr class="th-row">
            <th>ID</th>
            <th>Name</th>
            <th>Pinned</th>
            <th>Actions</th>
        </tr>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.pinnedContent }}</td>
                <td>
                    <button class="btn btn-xs btn-info edit-room-btn" data-target-idx='{{ room.id }}'>Edit</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <template class="new-room">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create/update stream..</h4>
        </div>
        <div class="modal-body">
            <label>Room Name</label><input type="text" value=""
                                             class="form-control input-sm mono-font edited-room-name"
                                             placeholder="Name"> <br/>
            <label>Room Content</label><input type="text" value=""
                                                    class="form-control input-sm mono-font edited-room-pinned"
                                                    placeholder="Pinned content"> <br/>
            {#<label>Stream Type</label><input type="text" value=""#}
                                             {#class="form-control input-sm mono-font edited-stream-type"#}
                                             {#placeholder="Type"> <br/>#}
            <button class="btn btn-primary edited-room-save">Save</button>
        </div>
    </template>
    <button class="btn btn-success new-room-btn">New room..</button>
    <script>
        function initDialog(idx) {
            args = {
//                'id': -1,
                'name': 'New room',
                'content': 'This is a new room'
//                'type': 'other'
            };
//            _.defaults(args, data);
            if (typeof  idx === "undefined") idx = -1;
            setModal($("template.new-room").html());
            //initialize fields
            $(".edited-room-name").val(args['name']);
            $(".edited-room-pinned").val(args['content']);
//            $(".edited-stream-type").val(args['type']);
            $(".edited-room-save").on('click', function () {
                //send new stream request to server..
                XE.postAjax('updateroom', {
                    postDataOb: {
                        'rid': idx,
                        'name': $(".edited-room-name").val(),
                        'content': $(".edited-room-pinned").val(),
//                        'type': $(".edited-stream-type").val()
                    },
                    successFn(data){
                        location.reload();
                    }
                });
                //setModal($("template.new-stream").html());
            });
        }
        $(function () {
            $(".new-room-btn").on('click', function () {
                initDialog();
            });
            $(".edit-room-btn").on('click', function () {
                initDialog($(this).attr('data-target-idx'));
            });
        });
    </script>
{% endblock %}