{#
 #  This file is part of Mathstreams.
 #
 #  Copyright (c) 2015  Sohani Academy <developer@sohaniacademy.com>
 #
 #  Mathstreams is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU Affero General Public License as
 #  published by the Free Software Foundation, either version 3 of the
 #  License, or (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU Affero General Public License for more details.
 #
 #  You should have received a copy of the GNU Affero General Public License
 #  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'MagnetsMathgymBundle::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-11">
            <input type="text" id="lessonNameField" value="{{ lesson.name }}" style="font-size:2.0em;width:90%"></input>
        </div>
        <div class="col-md-1">
            {#<a class="close-btn btn btn-warning pull-right" data-toggle="tooltip" title="Close"><span#}
            {#class="glyphicon glyphicon-remove"></span></a>#}
            {#<a class="view-btn btn btn-primary pull-right" data-toggle="tooltip" title="View"><span#}
            {#class="glyphicon glyphicon-eye-open"></span></a>#}

            <button id="saveBtn" class="btn btn-default">
                Save
            </button>
        </div>
    </div>

    {{ include('MagnetsMathgymBundle:UI:texInputAdvanced.frag.html.twig',{'editMode':true}) }}
    <script>
        var lessId = {{ lesson.id|default('-1') }};

        $(function () {
            loadAll(JSON.parse('{{ lesson.content|e('js') }}'));

            $("#saveBtn").on("click", function () {
                setLabel($("#saveBtn"), "Saving..", "info");
                XE.postAjax("savelesson", {
                    routeParamsOb: {"lid": lessId},
                    postDataOb: {"lessonName": $("#lessonNameField").val(), "lessonData": data2Src()},

                    successFn: function (data) {
                        setLabel($("#saveBtn"), "Saved", "success");
                        if (lessId < 0) {
                            lessId = data['lid'];
                        }
                    },
                    errFn: function () {
                        setLabel($("#saveBtn"), "Error", "warning");
                    }
                });
            });
//            $(".view-btn").on('click', function () {
//                openPopup(Routing.generate('viewlesson', {'lid': l}), 'View Lesson', 'fullishMain');
//                window.close();
//            });
//            $(".close-btn").on('click', function () {
//                window.close();
//            });
        });

    </script>

{% endblock %}